Repository draganstanisavljevic/serenity-cucumber-restapi-starter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run_user, run_store, run_pet

run_user:
  stage: test
  image: gradle:6.8.3-jdk15-openj9
  variables:
    TAGS_EXPRESSION: '@User'
  script:
  - echo "gradle my test -Dcucumber.filter.tags=@$TAGS_EXPRESSION"
  - gradle test -Dcucumber.filter.tags="@$TAGS_EXPRESSION"
  artifacts:
    when: always
    paths:
    - ./target/site/serenity
    expire_in: 1 week

run_store:
  stage: test
  image: gradle:6.8.3-jdk15-openj9
  variables:
    TAGS_EXPRESSION: '@Store'
  script:
  - echo "gradle my test -Dcucumber.filter.tags=$TAGS_EXPRESSION"
  - gradle test -Dcucumber.filter.tags="$TAGS_EXPRESSION"
  artifacts:
    when: always
    paths:
    - ./target/site/serenity
    expire_in: 1 week

run_pet:
  stage: test
  image: gradle:6.8.3-jdk15-openj9
  variables:
    TAGS_EXPRESSION: '@Pet'
  script:
  - echo "gradle my test -Dcucumber.filter.tags=$TAGS_EXPRESSION"
  - gradle test -Dcucumber.filter.tags="$TAGS_EXPRESSION"
  artifacts:
    when: always
    paths:
    - ./target/site/serenity
    expire_in: 1 week

Updated gitlab file
  .gitlab-ci.yml
Due: run_user

Updated gitlab file
  .gitlab-ci.yml
  gitlab-ci-automation-template.yml
Due: run_user

Updated gitlab file
  src/test/resources/features/pet/getPet.feature
Due: run_pet

Updated gitlab file
  src/test/resources/features/user/createUser.feature
Due: run_user

Updated gitlab file
  .gitlab-ci.yml
  build.gradle
  sonarcloud-pipeline-template.yml
Due: run_user

Updated gitlab file
  README.md
  build.gradle
  gitlab-ci-automation-template.yml
  src/main/java/com/orgname/qa/lib/configuration/ConfigurationProvider.java
  src/test/resources/config/config.preprod.json
Due: none

Updated gitlab file
  .gitlab-ci.yml
  gitlab-ci-automation-template.yml
  sonarcloud-pipeline-template.yml
Due: run_user

Updated gitlab file
  README.md
  build.gradle
Due: none

Updated gitlab file
  src/test/resources/features/user/getUser.feature
Due: run_user

added page objects
  src/main/java/com/orgname/qa/lib/helpers/CommonHelper.java
  src/main/java/com/orgname/qa/lib/helpers/StringFormatHelper.java
  src/main/java/com/orgname/qa/lib/webdriver/BasePage.java
  src/main/java/com/orgname/qa/lib/webdriver/MyBaseObject.java
  src/test/java/helpers/HeaderPage.java
  src/test/java/helpers/PageHelper.java
  src/test/java/helpers/SearchResultPage.java
  src/test/java/pages/HomePage.java
  src/test/java/stepdef/frontend/ElementsValidationSteps.java
  src/test/java/stepdef/frontend/FrontendSteps.java
  src/test/java/stepdef/frontend/PageInteractionSteps.java
  src/test/java/stepdef/frontend/SearchStep.java
  src/test/resources/features/frontend/HomePage.feature
  src/test/resources/serenity.conf
Due: none

added page objects
  README.md
  build.gradle
  gradlew
  gradlew.bat
  src/main/java/com/orgname/qa/lib/configuration/User.java
  src/main/java/com/orgname/qa/lib/configuration/UsersProvider.java
  src/main/java/com/orgname/qa/lib/properties/PropertiesLoader.java
  src/main/java/com/orgname/qa/lib/properties/PropertiesSupplier.java
  src/main/java/com/orgname/qa/lib/utils/logger/LoggerSupplier.java
  src/main/java/com/orgname/qa/lib/utils/logger/RestAssuredLogger.java
  src/test/java/SerenityRunnerTest.java
  src/test/java/helpers/PageHelper.java
  src/test/java/pages/HeaderPage.java
  src/test/java/pages/LoginPage.java
  src/test/java/pages/SearchResultPage.java
  src/test/java/stepdef/frontend/FrontendSteps.java
  src/test/java/stepdef/frontend/LoginSteps.java
  src/test/java/stepdef/frontend/SearchStep.java
  src/test/java/stepdef/hooks/Hooks.java
  src/test/resources/config/config.json
  src/test/resources/config/config.preprod.json
  src/test/resources/features/frontend/HomePage.feature
  src/test/resources/features/frontend/Login.feature
  src/test/resources/features/frontend/Search.feature
  src/test/resources/serenity.conf
Due: none

Path conditions:
  run_user: any of: **/user/**/*, .gitlab-ci.yml
  run_store: any of: **/store/**/*
  run_pet: any of: **/pet/**/*
